<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "%7e//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="freshmanGuide.attendanceCheck.mapper.EventMapper">
    <insert id="save" parameterType="freshmanGuide.attendanceCheck.DTO.EventDTO$EventInfoDTO">
        INSERT INTO event_info (eventName, eventType, eventDate)
        VALUES
        (
            #{eventName},
            #{eventType},
            #{eventDate}
        )
    </insert>

    <select id="findAll"
            resultType="freshmanGuide.attendanceCheck.DTO.EventDTO$EventInfoDTO"
    >
        SELECT eventName, eventDate
        FROM event_info
    </select>

    <delete id="deleteByEventNameAndEventDate" parameterType="freshmanGuide.attendanceCheck.DTO.EventDTO$EventInfoDTO">
        DELETE FROM event_Info
        WHERE eventName=#{eventName} AND eventDate=#{eventDate}
    </delete>

    <select id="findEventNameByEventDate" parameterType="java.util.Date" resultType="String">
        SELECT eventName
        FROM event_info
        WHERE DATE(eventDate)=${eventDate}
    </select>

    <select id="findByYearAndMonthAndDayAndEventTypeForCalendar" parameterType="java.util.HashMap" resultType="freshmanGuide.attendanceCheck.DTO.EventDTO$EventTableInfoDTO">
        SELECT eventIdx as `key`, eventName, eventType, eventDate
        FROM event_info
        WHERE
            (
                (YEAR(eventDate)=${year} AND MONTH(eventDate)=${month})
                OR (YEAR(eventDate)=(SELECT YEAR(DATE_SUB(DATE('${year}-${month}-01'), INTERVAL 1 month))) AND MONTH(eventDate)=(SELECT MONTH(DATE_SUB(DATE('${year}-${month}-01'), INTERVAL 1 month))))
                OR (YEAR(eventDate)=(SELECT YEAR(DATE_SUB(DATE('${year}-${month}-01'), INTERVAL -1 month))) AND MONTH(eventDate)=(SELECT MONTH(DATE_SUB(DATE('${year}-${month}-01'), INTERVAL -1 month))))
            )
        <if test='eventType!=null and !eventType.equals("")'>
            AND eventType='${eventType}'
        </if>
    </select>

    <select id="findByYearAndMonthAndDayAndEventType" parameterType="java.util.HashMap" resultType="freshmanGuide.attendanceCheck.DTO.EventDTO$EventTableInfoDTO">
        SELECT eventIdx as `key`, eventName, eventType, eventDate
        FROM event_info
        WHERE YEAR(eventDate)=${year} AND MONTH(eventDate)=${month} AND DAY(eventDate)=${day}
        <if test='eventType!=null and !eventType.equals("")'>
            AND eventType='${eventType}'
        </if>
    </select>

    <delete id="deleteByEventIdx" parameterType="Integer">
        DELETE FROM event_info
        WHERE eventIdx=#{eventIdx}
    </delete>
</mapper>