<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "%7e//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="freshmanGuide.attendanceCheck.mapper.LcMapper">
    <insert id="save" parameterType="freshmanGuide.attendanceCheck.DTO.LcDTO$LcFKDTO">
        INSERT INTO lc_info
        VALUES
        (
        (SELECT CASE WHEN COUNT(a.lcIdx)=0 THEN 0 ELSE COUNT(a.lcIdx) END FROM lc_info a),
        #{year},
        #{lc},
        null,
        null,
        null,
        null
        )
    </insert>

    <select id="findAll" resultType="freshmanGuide.attendanceCheck.DTO.LcDTO$LcInfoDTO">
        SELECT year, LC, fgMemberId1, fgMemberId2, fgMemberId3, fgMemberId4
        FROM lc_info
    </select>

    <select id="findLcByYear"
            parameterType="Integer"
            resultType="String"
    >
        SELECT lc
        FROM lc_info
        WHERE year=${year}
    </select>

    <select id="findAllByYear"
            parameterType="Integer"
            resultType="freshmanGuide.attendanceCheck.DTO.LcDTO$LcInfoDTO"
    >
        SELECT year, lc, fgMemberId1, fgMemberId2, fgMemberId3, fgMemberId4
        FROM lc_info
        WHERE year=${year}
        ORDER BY year, lc
    </select>

    <delete id="deleteByYearAndLc" parameterType="freshmanGuide.attendanceCheck.DTO.LcDTO$LcFKDTO">
        DELETE FROM lc_info
        WHERE year=#{year} AND lc=#{lc}
    </delete>

    <select id="findByYearAndLcAndFgMemberNames"
            parameterType="freshmanGuide.attendanceCheck.DTO.LcDTO$LcSearchInfoDTO"
            resultType="freshmanGuide.attendanceCheck.DTO.LcDTO$LcInfoWithFgMemberNameDTO">
        SELECT lcIdx as `key`, year, lc,
            (SELECT fgMemberName FROM fg_member_info WHERE fgMemberId=fgMemberId1) as fgMemberName1,
            (SELECT fgMemberName FROM fg_member_info WHERE fgMemberId=fgMemberId2) as fgMemberName2,
            (SELECT fgMemberName FROM fg_member_info WHERE fgMemberId=fgMemberId3) as fgMemberName3,
            (SELECT fgMemberName FROM fg_member_info WHERE fgMemberId=fgMemberId4) as fgMemberName4
        FROM lc_info
        WHERE True
        <if test='year!=null and year!=0'>
            AND year LIKE '%${year}%'
        </if>
        <if test='lc!=null and !lc.equals("")'>
            AND lc LIKE '%${lc}%'
        </if>
        <if test='fgMemberName1!=null and !fgMemberName1.equals("")'>
            AND (
                (SELECT fgMemberName from fg_member_info where fgMemberId=fgMemberId1) LIKE '%${fgMemberName1}%'
                OR (SELECT fgMemberName from fg_member_info where fgMemberId=fgMemberId2) LIKE '%${fgMemberName1}%'
                OR (SELECT fgMemberName from fg_member_info where fgMemberId=fgMemberId3) LIKE '%${fgMemberName1}%'
                OR (SELECT fgMemberName from fg_member_info where fgMemberId=fgMemberId4) LIKE '%${fgMemberName1}%'
            )
        </if>
        <if test='fgMemberName2!=null and !fgMemberName2.equals("")'>
            AND (
                (SELECT fgMemberName from fg_member_info where fgMemberId=fgMemberId1) LIKE '%${fgMemberName2}%'
                OR (SELECT fgMemberName from fg_member_info where fgMemberId=fgMemberId2) LIKE '%${fgMemberName2}%'
                OR (SELECT fgMemberName from fg_member_info where fgMemberId=fgMemberId3) LIKE '%${fgMemberName2}%'
                OR (SELECT fgMemberName from fg_member_info where fgMemberId=fgMemberId4) LIKE '%${fgMemberName2}%'
            )
        </if>
    </select>

    <update id="updateFgMemberNameByFgMemberId"
            parameterType="freshmanGuide.attendanceCheck.DTO.LcDTO$PutLcInfoDTO"
    >
        UPDATE lc_info
        SET ${columnName}=#{fgMemberId}
        WHERE lcIdx=#{lcIdx}
    </update>

    <delete id="deleteByLcIdx"
            parameterType="Integer"
    >
        DELETE FROM lc_info
        WHERE lcIdx=${lcIdx}
    </delete>
</mapper>