<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "%7e//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="freshmanGuide.attendanceCheck.mapper.LCMemberMapper">
    <insert id="save" parameterType="freshmanGuide.attendanceCheck.DTO.BasicDTO$LCMemberInfoDTO">
        INSERT INTO lc_member
        VALUES (#{lcMemberId}, #{lcMemberName}, #{year}, #{lc}, #{isPearLeader}, #{contact})
    </insert>

    <select id="findByLcMemberId"
            parameterType="Integer"
            resultType="freshmanGuide.attendanceCheck.DTO.BasicDTO$LCMemberInfoDTO"
    >
        SELECT *
        FROM lc_member
        WHERE lcMemberId=${lcMemberId}
    </select>

    <delete id="deleteByLcMemberId" parameterType="Integer">
        DELETE FROM lc_member
        WHERE lcMemberId=${lcMemberId}
    </delete>
</mapper>