<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "%7e//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="freshmanGuide.attendanceCheck.mapper.LcMemberMapper">
    <insert id="save" parameterType="freshmanGuide.attendanceCheck.DTO.LcMemberDTO$LcMemberInfoDTO">
        INSERT INTO lc_member_info (lcIdx, department, gender, lcMemberName, contact)
        VALUES
        (
            (SELECT lcIdx FROM lc_info WHERE year=${year} AND lc='${lc}'),
            '${department}',
            '${gender}',
            '${lcMemberName}',
            '${contact}'
        )
    </insert>

    <select id="findByLcMemberId"
            parameterType="Integer"
            resultType="freshmanGuide.attendanceCheck.DTO.LcMemberDTO$LcMemberInfoDTO"
    >
        SELECT lcMemberId, lcMemberName, year, lc, isPeerLeader, contact, mail
        FROM
        (
            SELECT *
            FROM lc_member_info
            WHERE lcMemberId=${lcMemberId}
        ) AS S1
        LEFT JOIN
        (
            SELECT *
            FROM lc_info
        ) AS S2
        ON S1.lcIdx=S2.lcIdx
    </select>

    <delete id="deleteByLcMemberId" parameterType="Integer">
        DELETE FROM lc_member_info
        WHERE lcMemberId=${lcMemberId}
    </delete>

    <select id="findAll"
            resultType="freshmanGuide.attendanceCheck.DTO.LcMemberDTO$LcMemberInfoDTO"
    >
        SELECT *
        FROM lc_member_info
    </select>

    <select id="findByYearAndLc"
            parameterType="freshmanGuide.attendanceCheck.DTO.LcDTO$LcFKDTO"
            resultType="freshmanGuide.attendanceCheck.DTO.LcMemberDTO$LcMemberInfoDTO"
    >
        SELECT lcMemberId, lcMemberName, year, lc, isPearLeader, contact, mail
        FROM
        (
            SELECT *
            FROM lc_member_info
        ) AS S1
        LEFT JOIN
        (
            SELECT *
            FROM lc_info
            WHERE year=#{year} AND lc=#{lc}
        ) AS S2
        ON S1.lcIdx=S2.lcIdx
    </select>

    <select id="findByYearAndLcAndDepartmentAndGenderAndLcMemberName"
            parameterType="freshmanGuide.attendanceCheck.DTO.LcMemberDTO$LcMemberTableInfoDTO"
            resultType="freshmanGuide.attendanceCheck.DTO.LcMemberDTO$LcMemberTableInfoDTO"
    >
        SELECT S1.lcMemberId AS `key`, S2.year, S2.lc, S1.department, S1.gender, S1.lcMemberName, S1.contact
        FROM
        (
            (
                SELECT *
                FROM lc_member_info
                WHERE True
                <if test='department!=null and !department.equals("")'>
                    AND department LIKE '%${department}%'
                </if>
                <if test='gender!=null and !gender.equals("")'>
                    AND gender LIKE '%${gender}%'
                </if>
                <if test='lcMemberName!=null and !lcMemberName.equals("")'>
                    AND lcMemberName LIKE '%${lcMemberName}%'
                </if>
            ) AS S1
            JOIN
            (
                SELECT *
                FROM lc_info
                WHERE TRUE
                <if test='year!=null and year!=0'>
                    AND year LIKE '%${year}%'
                </if>
                <if test='lc!=null and !lc.equals("")'>
                    AND lc LIKE '%${lc}%'
                </if>
            ) AS S2
            ON S1.lcIdx=S2.lcIdx
        )
    </select>

    <update id="updateByLcMemberId"
            parameterType="freshmanGuide.attendanceCheck.DTO.LcMemberDTO$PutLcMemberInfoDTO"
    >
        UPDATE lc_member_info
        SET ${columnName}=#{value}
        WHERE lcMemberId=#{lcMemberId}
    </update>
</mapper>