<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "%7e//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <mappers>
        <mapper resource="FGMemberMapper.xml" />
        <mapper resource="LCAttendanceCheckMapper.xml" />
        <mapper resource="LCListMapper.xml" />
        <mapper resource="LCMemberMapper.xml" />
    </mappers>
</configuration>