table {
  position: relative;
  font-size: 0.75vw;
}

/*
.ribbon {
  height: 100px;
  max-height: 100px;
}

.modal {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background-color: black;
  opacity: 0.5;
  transition: opacity 500ms;
}

.modal.show {
  display: block;
}

.modal_body {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 600px;
  height: 400px;
  margin: -300px 0 0 -300px;

  background-color: rgb(222, 236, 222);
  border-radius: 10px;
  box-shadow: 0 2px 3px 0 rgba(34, 36, 38, 0.15);
  opacity: 1;
  transition: opacity 500ms;
}
*/

/*
.table {
  // display: flex;
  justify-content: center;
}

.tableContents {
  display: block;
}

.tableColumns {
  display: block;
}

.tableUtils {
  display: inline-flex;
}
*/

.logo {
  float: left;
  width: 120px;
  height: 31px;
  margin: 16px 24px 16px 0;
  background: rgba(255, 255, 255, 0.2);
}
.site-layout .site-layout-background {
  background: #fff;
}

.editable-cell-value-wrap:hover {
  padding: 4px 11px;
  border: 1px solid #d9d9d9;
  border-radius: 2px;
}
