/*
table {
  width: 100%;

  div {
    max-width: inherit;
  }

  th {
    background-color: #2a98ff;
    color: white;
    padding: 5px;
    text-align: center;
    height: 30px;
    font-size: 110%;
  }

  td {
    background-color: #e7f5fc;
    border-bottom: 2px solid #7ec1ff;
    padding: 5px;
    text-align: center;
    height: 50px;
    font-size: 110%;
  }

  .fgMemberId,
  .lcMemberId {
    width: 10%;

    input[type='text'] {
      border: 2px solid #7ec1ff;
      outline: none;
      max-width: 120px;
    }
  }
  .generation {
    width: 10%;
  }
  .fgMemberName,
  .lcMemberName {
    width: 10%;

    input[type='text'] {
      border: 2px solid #7ec1ff;
      outline: none;
      max-width: 100px;
    }
  }
  .position {
    width: 10%;
  }
  .state {
    width: 10%;
  }
  .contact {
    width: 15%;

    input[type='text'] {
      border: 2px solid #7ec1ff;
      outline: none;
      max-width: 150px;
    }
  }
  .mail {
    width: 20%;

    input[type='text'] {
      border: 2px solid #7ec1ff;
      outline: none;
      max-width: 400px;
    }
  }
  .isAdmin {
    width: 10%;
  }
  .registerApproval {
    width: 10%;
  }
  .year {
    width: 10%;
  }
  .lc {
    width: 10%;
  }
  .fgManagerName {
    width: 20%;

    input[type='text'] {
      border: 2px solid #7ec1ff;
      outline: none;
      max-width: 100px;
    }
  }
}
*/

/*
.fgMemberId,
.lcMemberId {
  width: 100px;
  max-width: 100px;

  input[type='text'] {
    border: 2px solid #bddaaf;
    outline: none;
    max-width: 100px * 0.8;
  }
}
.generation {
  width: 50px;
  max-width: 50px;

  input[type='text'] {
    border: 2px solid #bddaaf;
    outline: none;
    max-width: 50px * 0.8;
  }
}
.fgMemberName,
.lcMemberName {
  width: 100px;
  max-width: 100px;

  input[type='text'] {
    border: 2px solid #bddaaf;
    outline: none;
    max-width: 100px * 0.8;
  }
}
.position {
  width: 75px;
  max-width: 75px;
}
.state {
  width: 60px;
  max-width: 60px;
}
.contact {
  width: 115px;
  max-width: 115px;

  input[type='text'] {
    border: 2px solid #bddaaf;
    outline: none;
    max-width: 115px * 0.8;
  }
}
.mail {
  width: 210px;
  max-width: 210px;

  input[type='text'] {
    border: 2px solid #bddaaf;
    outline: none;
    max-width: 210px * 0.8;
  }
}
.isAdmin {
  width: 60px;
  max-width: 60px;
}
.registerApproval {
  width: 50px;
  max-width: 50px;
}
*/
